
/**************************************************************/

@media screen and (min-width:300px) and (max-width: 768px){
    
    body {
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-style: normal; 
    }
    .header{
        display: flex;
        flex-direction: row;
        
    }
    .opennav{
        font-size: 1rem;
        margin: auto;
       
    }
    .logo{
        font-size: 0.7rem;
        margin: auto;
    }
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 30px;
        font-size: 36px;
        margin-left: 50px;
        padding-top: 14px;
        color: black;
      }
      
    .sidenav {
        width: 250px;
        height: 100vh;
        background-color: #ffffff;
        overflow-y: auto;
        position: fixed;
        top: 0;
        left: 0;
    
    }
    
    .nav-list {
        list-style: none;
        padding: 0;
        padding-top: 60px;
    }
    
    .nav-item {
        position: relative;
    }
    
    .nav-item a {
        display: block;
        color: rgb(0, 0, 0);
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
    }
    
    .nav-item a:hover {
        background-color: #ececec;
    }
    .dropdown-toggle{
        font-size: 1.3rem;
    }
    .dropdown-menu {
        display: none;
        position: relative;
        width: 100%;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        padding: 0;
    }
    
    .dropdown-menu li {
        padding: 12px 16px;
        list-style-type: none;
      
        
    }
    
    .dropdown-menu li a {
        color: rgb(0, 0, 0);
        text-decoration: none;
        display: block;
        font-size: 1rem;
        
    }
    
    .dropdown-menu li a:hover {
        background-color: #575757;
    }
    
    .gallery-box{
        padding-top: 3%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        max-width: 100%;
    }
      .image-gallery img {
        width: 100%;
        object-fit: cover;
        border: 1px solid #ccc;
      }
    
      .image-gallery .h3{
        text-align: center;
    }
    
    
    }
    
    /*****************************************/
    
    
    @media screen and (min-width:768px) and (max-width: 1200px){
        body {
            font-family: "Lato", sans-serif;
            font-weight: 400;
            font-style: normal; 
        }
        .header{
            display: flex;
            flex-direction: row;
            
        }
        .opennav{
            font-size: 1rem;
            margin: auto;
           
        }
        .logo{
            font-size: 0.7rem;
            margin: auto;
        }
        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 30px;
            font-size: 36px;
            margin-left: 50px;
            padding-top: 14px;
            color: black;
          }
          
        .sidenav {
            width: 250px;
            height: 100vh;
            background-color: #ffffff;
            overflow-y: auto;
            position: fixed;
            top: 0;
            left: 0;
        
        }
        
        .nav-list {
            list-style: none;
            padding: 0;
            padding-top: 60px;
        }
        
        .nav-item {
            position: relative;
        }
        
        .nav-item a {
            display: block;
            color: rgb(0, 0, 0);
            text-align: center;
            padding: 14px 20px;
            text-decoration: none;
        }
        
        .nav-item a:hover {
            background-color: #ececec;
        }
        .dropdown-toggle{
            font-size: 1.3rem;
        }
        .dropdown-menu {
            display: none;
            position: relative;
            width: 100%;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            padding: 0;
        }
        
        .dropdown-menu li {
            padding: 12px 16px;
            list-style-type: none;
          
            
        }
        
        .dropdown-menu li a {
            color: rgb(0, 0, 0);
            text-decoration: none;
            display: block;
            font-size: 1rem;
            
        }
        
        .dropdown-menu li a:hover {
            background-color: #575757;
        }
        
        .gallery-box{
            padding-top: 3%;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            max-width: 100%;
        }
          .image-gallery img {
            width: 100%;
            object-fit: cover;
            border: 1px solid #ccc;
          }
        
          .image-gallery .h3{
            text-align: center;
        }
        
        
    }
        /***************************/
@media screen and (min-width:1200px) and (max-width: 1920px){
    body {
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-style: normal; 
    }
    .header{
        display: flex;
        flex-direction: row;
        
    }
    .opennav{
        font-size: 1rem;
        margin: auto;
       
    }
    .logo{
        font-size: 0.7rem;
        margin: auto;
    }
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 30px;
        font-size: 36px;
        margin-left: 50px;
        padding-top: 14px;
        color: black;
      }
      
    .sidenav {
        width: 250px;
        height: 100vh;
        background-color: #ffffff;
        overflow-y: auto;
        position: fixed;
        top: 0;
        left: 0;
    
    }
    
    .nav-list {
        list-style: none;
        padding: 0;
        padding-top: 60px;
    }
    
    .nav-item {
        position: relative;
    }
    
    .nav-item a {
        display: block;
        color: rgb(0, 0, 0);
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
    }
    
    .nav-item a:hover {
        background-color: #ececec;
    }
    .dropdown-toggle{
        font-size: 1.3rem;
    }
    .dropdown-menu {
        display: none;
        position: relative;
        width: 100%;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        padding: 0;
    }
    
    .dropdown-menu li {
        padding: 12px 16px;
        list-style-type: none;
      
        
    }
    
    .dropdown-menu li a {
        color: rgb(0, 0, 0);
        text-decoration: none;
        display: block;
        font-size: 1rem;
        
    }
    
    .dropdown-menu li a:hover {
        background-color: #575757;
    }
    
    .gallery-box{
        padding-top: 3%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        max-width: 100%;
    }
      .image-gallery img {
        width: 100%;
        object-fit: cover;
        border: 1px solid #ccc;
      }
    
      .image-gallery .h3{
        text-align: center;
    }
    
    
}
/***************************/

@media screen and (min-width:1920px){
    body {
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-style: normal; 
    }
    .header{
        display: flex;
        flex-direction: row;
        
    }
    .opennav{
        font-size: 1rem;
        margin: auto;
       
    }
    .logo{
        font-size: 0.7rem;
        margin: auto;
    }
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 30px;
        font-size: 36px;
        margin-left: 50px;
        padding-top: 14px;
        color: black;
      }
      
    .sidenav {
        width: 250px;
        height: 100vh;
        background-color: #ffffff;
        overflow-y: auto;
        position: fixed;
        top: 0;
        left: 0;
    
    }
    
    .nav-list {
        list-style: none;
        padding: 0;
        padding-top: 60px;
    }
    
    .nav-item {
        position: relative;
    }
    
    .nav-item a {
        display: block;
        color: rgb(0, 0, 0);
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
    }
    
    .nav-item a:hover {
        background-color: #ececec;
    }
    .dropdown-toggle{
        font-size: 1.3rem;
    }
    .dropdown-menu {
        display: none;
        position: relative;
        width: 100%;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        padding: 0;
    }
    
    .dropdown-menu li {
        padding: 12px 16px;
        list-style-type: none;
      
        
    }
    
    .dropdown-menu li a {
        color: rgb(0, 0, 0);
        text-decoration: none;
        display: block;
        font-size: 1rem;
        
    }
    
    .dropdown-menu li a:hover {
        background-color: #575757;
    }
    
    .gallery-box{
        padding-top: 3%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        max-width: 100%;
    }
      .image-gallery img {
        width: 100%;
        object-fit: cover;
        border: 1px solid #ccc;
      }
    
      .image-gallery .h3{
        text-align: center;
    }
    
    

}