body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0;
    margin: 0;
}
   
.header{
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  margin: auto;
  padding: 10px 0;
}
.logo{
  font-size: 1rem;
  width: 50%;

}
.logo h1{
float: right;
margin-right: 60px ;
}
.opennav{
width: 50%;
margin: auto;
}
.opennav span{
margin-left: 60px;
}

.sidenav {
height: 100%;
width: 0;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: #ffffff;
overflow-x: hidden;
transition: 0.5s;
padding-top: 60px;

}


.sidenav a {
padding: 10px 0;
text-decoration: none;
color: #818181;
display: block;
transition: 0.3s;

}

.sidenav a:hover{
color: #f1f1f1;
}

.sidenav .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;

}

.dropdown-box a{
text-decoration: none;

}

.dropdown-box button{
border: none;
background-color: transparent;
}
.dropdown-box a:hover{opacity:  1; color: orangered;}

.dropbtn {
color: rgb(0, 0, 0);
border: none;
background-color: transparent;
font-size: 1.6rem;
}

.dropdown {
position: relative;
display: inline-block;
width: 100%;
text-align: center;

}

.dropdown-content {
display: none;
z-index: 1;
position: relative;
background-color: white;
width: 100%;

}

.dropdown-content a {
color: black;
text-decoration: none;
display: block;
font-size: 1.5rem;

}

.dropdown:hover .dropdown-content {display: block;}
.dropdown a button:hover{color: orangered;}

.gallery-box{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 100%;
}
.image-gallery img {
  width: 100%;
  object-fit: cover;
  border: 1px solid #ccc;
}
.image-gallery .h3{
  text-align: center;
}



/**************************************/
/**************************************/
/**************************************/
/**************************************/
/**************************************/
/**************************************/


@media only screen and (min-width: 300px) and (max-width: 576px){
.body{
    padding: 0;
    margin: 0;
}
.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    margin: auto;
    padding: 10px 0;
}
.logo{
    font-size: 0.6rem;
    width: 50%;

}
.logo h1{
  float: right;
  margin-right: 30px ;
}
.opennav{
  width: 50%;
  margin: auto;
}
.opennav span{
  margin-left: 30px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  
}


.sidenav a {
  padding: 10px 0;
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;

}

.sidenav a:hover{
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;

}

.dropdown-box a{
  text-decoration: none;
  
}

.dropdown-box button{
  border: none;
  background-color: transparent;
}
.dropdown-box a:hover{opacity:  1; color: orangered;}

.dropbtn {
  color: rgb(0, 0, 0);
  border: none;
  background-color: transparent;
  font-size: 1.6rem;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;

}

.dropdown-content {
  display: none;
  z-index: 1;
  position: relative;
  background-color: white;
  width: 100%;
  
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
  font-size: 1.5rem;

}

.dropdown:hover .dropdown-content {display: block;}
.dropdown a button:hover{color: orangered;}

.gallery-box{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    max-width: 100%;
}
  .image-gallery img {
    width: 100%;
    object-fit: cover;
    border: 1px solid #ccc;
  }
.image-gallery .h3{
    text-align: center;
}
}


/******************************/
/******************************/
/******************************/
/******************************/
/******************************/
/******************************/


@media only screen and (min-width: 576px) and (max-width: 768px){
  .body{
      padding: 0;
      margin: 0;
  }
  .header{
      display: flex;
      flex-direction: row;
      width: 100%;
      position: relative;
      margin: auto;
      padding: 10px 0;
  }
  .logo{
      font-size: 0.6rem;
      width: 50%;
  
  }
  .logo h1{
    float: right;
    margin-right: 30px ;
  }
  .opennav{
    width: 50%;
    margin: auto;
  }
  .opennav span{
    margin-left: 30px;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    
  }
  
  
  .sidenav a {
    padding: 10px 0;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
  
  }
  
  .sidenav a:hover{
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  
  }
  
  .dropdown-box a{
    text-decoration: none;
    
  }
  
  .dropdown-box button{
    border: none;
    background-color: transparent;
  }
  .dropdown-box a:hover{opacity:  1; color: orangered;}
  
  .dropbtn {
    color: rgb(0, 0, 0);
    border: none;
    background-color: transparent;
    font-size: 1.6rem;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
  
  }
  
  .dropdown-content {
    display: none;
    z-index: 1;
    position: relative;
    background-color: white;
    width: 100%;
    
  }
  
  .dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    font-size: 1.5rem;
  
  }
  
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown a button:hover{color: orangered;}
  
  .gallery-box{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      max-width: 100%;
  }
    .image-gallery img {
      width: 100%;
      object-fit: cover;
      border: 1px solid #ccc;
    }
  .image-gallery .h3{
      text-align: center;
  }
  }

/******************************/
/******************************/
/******************************/
/******************************/
/******************************/
/******************************/

@media only screen and (min-width: 768px) and (max-width: 992px){
  .body{
      padding: 0;
      margin: 0;
  }
  .header{
      display: flex;
      flex-direction: row;
      width: 100%;
      position: relative;
      margin: auto;
      padding: 10px 0;
  }
  .logo{
      font-size: 0.6rem;
      width: 50%;
  
  }
  .logo h1{
    float: right;
    margin-right: 30px ;
  }
  .opennav{
    width: 50%;
    margin: auto;
  }
  .opennav span{
    margin-left: 30px;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    
  }
  
  
  .sidenav a {
    padding: 10px 0;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
  
  }
  
  .sidenav a:hover{
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  
  }
  
  .dropdown-box a{
    text-decoration: none;
    
  }
  
  .dropdown-box button{
    border: none;
    background-color: transparent;
  }
  .dropdown-box a:hover{opacity:  1; color: orangered;}
  
  .dropbtn {
    color: rgb(0, 0, 0);
    border: none;
    background-color: transparent;
    font-size: 1.6rem;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
  
  }
  
  .dropdown-content {
    display: none;
    z-index: 1;
    position: relative;
    background-color: white;
    width: 100%;
    
  }
  
  .dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    font-size: 1.5rem;
  
  }
  
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown a button:hover{color: orangered;}
  
  .gallery-box{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      max-width: 100%;
  }
    .image-gallery img {
      width: 100%;
      object-fit: cover;
      border: 1px solid #ccc;
    }
  .image-gallery .h3{
      text-align: center;
  }
  }
